body{
    background-color: black;
    font-family: 'Courier New', monospace;
}

#main{
    background-color: #222233;
    color:#ffdddd;
    padding-left:1rem;
    padding-right:1rem;
    padding-bottom: 2rem;
    width: 500px;
    max-width: 100%;
    min-height: 100%;
    position: absolute;
    box-sizing: border-box;
    top:0px;
    left:50%;
    transform: translate(-250px,0px);
    text-shadow: 0px 0px 4px black;
    line-height: 1.5rem;
}
#main_navbar{
    background-color:#555566;
    text-align: center;
    margin-bottom:1rem;
    border-radius: 0px 0px 1rem 1rem;
    padding: 1rem;

}

#main_header{
    text-align: center;
    background-color: #666677;
    padding: 2rem;
    font-weight: bolder;
    margin-bottom:1rem;
    border-radius: 1rem;
    box-shadow: 4px 4px 8px black;
}
#main_header::before{
    content:"「 ";
}
#main_header::after{
    content:" 」";
}

backlink, brokenlink, tag, a{
    color:#ddddff;
    background-color: #333344;
    cursor: pointer;
    text-decoration: none;
    padding-left:4px;
    padding-right: 4px;
    font-weight: bolder;
    box-shadow: 0px 0px 8px #111122;
    border-radius: .5rem;
}

backlink::after{
    content: "→";
}

backlink:hover, tag:hover, a:hover{
    color:#ffffff;
    background-color: #444455;
    box-shadow: 0px 0px 8px #444455;
}

brokenlink{
    color:#ddddee;
    background-color: #333333;
    cursor: not-allowed;
}

brokenlink::after{
    content:" ✗";
}

tag{
    color:#ffaaaa;
}

.inlineimage{
    max-width: 100%;
    box-shadow: 4px 4px 8px black;
}