:root{
	--bg-color:#000000;
	--bg-color2:#000000;
	--shadow-color:#ffffff;
	--border-color:#ffffff;
	--text-color:#ffffff;
}

@font-face{
	font-family:'font-normal';
	src:url('font/DigimonBasic.ttf');
	font-style: normal;
	font-weight: 200;
}
@font-face{
	font-family:'font-header';
	src:url('font/Bitmgothic.ttf');
	font-style: normal;
	font-weight: 1;
}

*{
	font-family: font-normal;
	font-smooth: never;
	-webkit-font-smoothing : none;
}

h1{
	font-family: font-header;
	text-shadow: 0px 0px 16px red;
}
a{
	color:purple;
}

body{
	background-image:url('assets/background/1.png');
	background-position:center;
	background-color:var(--bg-color);
	color:var(--text-color);
	display: flex;
	justify-content: center;
}

#main{
	position:relative;
	background-color: var(--bg-color2);
	width: 1000px;
	max-width: 90%;
	box-shadow: 0px 0px 16px var(--shadow-color);
	border-style: solid;
	border-color:var(--border-color);
	border-width: 2px;
	padding: 8px;
	padding-top: 64px;
	margin-top:64px;
	text-align: center;
}

#main-header{
	position:absolute;
	top:0px;
	left:50%;
	transform: translate(-50%,-50%);
	box-shadow: 0px 0px 8px var(--shadow-color);
	border-style: solid;
	border-color:var(--border-color);
	border-width: 1px;
	max-width:90%;
}

.link-img{
	box-shadow: 0px 0px 8px var(--shadow-color);
	border-style: solid;
	border-color:var(--border-color);
	border-width: 2px;
	max-width:90%;
}